* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}
.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 12px;
  padding: 17px;
}
.img {
  color: hsl(217, 54%, 11%);
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  border-radius: 12px;
  transition: opacity 0.3 ease;
}
.img:hover img {
  opacity: 0.5; /* Optional: Dim the image when hovering */
}

.eye {
  position: absolute;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  opacity: 0;
  transition: opacity 0.3 ease;
}
.img:hover .eye {
  opacity: 1;
}
.heading p {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}
.heading p:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.paragraph {
  color: hsl(215, 40%, 75%);
  font-weight: 300;
  padding: 15px 0px 15px 0px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.sec-1 {
  color: hsl(178, 100%, 50%);
}
.sec-2 {
  color: hsl(215, 40%, 75%);
}
.divider {
  margin-top: 20px;
  border-top: 1px solid hsl(215, 32%, 27%);
}
.creater {
  padding-top: 17px;
}
.creation {
  color: hsl(215, 40%, 75%);
  margin-right: 3px;
}
.author {
  color: hsl(0, 0%, 100%);
}
.author:hover {
  color: hsl(178, 100%, 50%);
}
